/* from reset */
::-webkit-scrollbar-track {
    background: 0 0;
}

.list:not(.dark)::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 5px solid var(--theme);
    border-radius: 30px;
}

.list:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: rgb(0, 0, 0);
}

/* from post-single */
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

.gist table::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
}

.gist table::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

.post-content table::-webkit-scrollbar-thumb {
    border-width: 2px;
}

/* from zmedia */
@media screen and (min-width: 768px) {

    /* reset */
    ::-webkit-scrollbar {
        width: 19px;
        height: 11px;
    }
}
